@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');

body {
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 500;
		background-color: #33373a;
		color: white;
}

.title {
	color: white;
}

div.nr-common-footer-wrapper {
	background-color: #222;
}