.mw-page-container {
	background-color: #33373a;
}

.vector-toc.vector-pinnable-element {
	background-color: #222;
}

div#vector-toc.vector-toc.vector-pinnable-element::after {
	display: none;
}

tr,
div.center,
.catlinks {
	background-color: #284a2a;
}

th {
	background-color: #222 !important;
}

tr td,
div.thumbcaption {
	background-color: #284a2a !important;
}

* {
	color: white;
	background-color: #33373a;
}

a,
a.external.text {
	color: yellow;
}

/*
div.mwe-popups.mwe-popups-type-page.mwe-popups-fade-in-up.flipped-x.mwe-popups-image-pointer.mwe-popups-is-not-tall"

	div.mwe-popups-container

		a.mwe-popups-discreet -> image.
			img.mwe-popups-thumbnail

		a.mwe-popups-extract
			p
			a.mwe-popups-extract::after
			

*/