.mw-page-container {
	background-color: #F8DE7E;
}

.vector-toc.vector-pinnable-element {
	background-color: pink;
    border: 2px solid black;
    
}

.vector-pinned-container {
    background-color: grey;
    border: 2px solid red;
}

.vector-unpinned-container {
    border: 2px solid blue;
}

div#vector-toc.vector-toc.vector-pinnable-element::after {
    display: none;
}

tbody {
    color: black;
}

.catlinks {
    background-color: purple; 
}