.mw-page-container {
	background-color: #33373a;
}

.vector-toc.vector-pinnable-element,
#vector-main-menu,
.portal-bar.noprint.metadata.noviewer.portal-bar-bordered {
	background-color: #222;
}

div#vector-toc.vector-toc.vector-pinnable-element::after,
div.mwe-popups-container a.mwe-popups-extract::after {
	display: none;
}

tr,
div.center,
.catlinks,
.cdx-menu,
div.mwe-popups-container footer,
div.side-box.metadata.side-box-right.sister-box.sistersitebox.plainlinks,
.mw-message-box-notice.vector-language-sidebar-alert.mw-message-box,
.side-box-flex {
	background-color: #284a2a;
}

th,
.sidebar-list-title {
	background-color: #222 !important;
}

tr td,
div.thumbcaption,
tr::before {
	background-color: #284a2a !important;
}

* {
	color: white;
}

a,
a.external.text,
.mw-parser-output a.extiw {
	color: yellow;
}

div.mwe-popups-container a.mwe-popups-extract {
	background-color: #222;
    padding: 8px;
    padding-bottom: 6px;
    padding-top: 4px;
    margin: 0;
}
