@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
	background-color: #33373a;
	color: white;
	font-weight: 250;
	font-family: 'Merriweather', serif;
}

div.wrapper {
  color: white !important;
}

a,
a.tag {
  color: white;
}

div.bookmark.listbox.group,
ol.index.group {
    background-color: #33373a;
}