@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
	background-color: #33373a;
	color: white;
	font-weight: 250;
	font-family: 'Merriweather', serif;
}

div.wrapper,
h3.heading {
  color: white !important;
}

a,
a.tag,
a.author {
  color: white;
}

ol.index.group {
    background-color: #33373a;
}

ul.tags.commas.index.group {
    background-color: #33373a;
}

div.bookmark.listbox.group,
div.parent.listbox.group {
    background-color: #284a2a;
}