/*
Background: "Saddle Brown" (#C7A77B)
Header: "Burlywood" (#9B7B61)
Navigation Menu: "Tan" (#86674E)
Body Text: "Sandy Brown" (#705640)
Subheadings: "Peru" (#917858)
Links: "Dark Goldenrod" (#97785C)
Buttons: "Dark Khaki" (#AB8B6C)
Borders: "Medium Brown" (#80634A)
Accent Color 1: "Tan" (#BA9777)
Accent Color 2: "Pale Goldenrod" (#D1B598)
Hover Effects: "Brown" (#725A43)
Footer: "Dark Khaki" (#927659)
*/